.topNavigation {
    background-color: rgb(116, 230, 245);
    text-align: center;
    font-size: 2em;
}

.container {
    
    background-color: rgb(82, 211, 250);
    display: grid;
    grid-template-columns: ; 
    gap: 50px;
}

span {
    outline: 2px solid greenyellow;
    background-color: gray;
    padding-top: 5px;
    
}

li {
    list-style: none;
    text-align: center;
    padding: 5px;
}